.index-page-content {
	padding: 5% !important;
}

.page-content {
	padding: 8px;
}

.site-header {
	border: 0 !important;

}

.site-title {
	font-family: Montserrat !important;
	padding-top: 25px;
	padding-left: 8px;
	color: black !important;
}

.page-link {
	font-family: Cabin !important;
}

.post-link {
	font-family: Cabin !important;
}

.post-title {
	font-family: Cabin !important;
}

.post-content p {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

p {
	font-family: 'Cabin', sans-serif !important;
	text-align: left;
}

li {
	font-family: 'Cabin', sans-serif;
}

a {
	font-family: 'Cabin', sans-serif;
	color: black;
}
span {
	font-family: 'Cabin', sans-serif;
}

h1 {
	font-family: Montserrat !important;
	font-weight: bold;
}

h2 {
	font-size: 3.0rem
}

#title {
	text-align: left;
	font-weight: bold;
}

#subtitle {
	font-weight: bold;
	font-family: Cabin;
	text-align: left;
}

#intro {
	margin-top: 10%;
	margin-bottom: 10%;
}

#description {
	font-size: 1.5em;
}

#screenshot {
	margin-right: 12px;
}

#divider {
	border: 0px !important;
}

#sections {
	margin-bottom: 3.5rem !important;
}


#sections h4 {
	font-weight: bold;
}

#photo {
	margin: auto !important;
	display: block;
}

#photo img {
	display: block;
	width: 50%;
	margin: auto;
	margin-bottom: 16px;
}

#intro {
	width: 100%;
	text-align: center;
}

#landing-main {
	display: block;
	line-height: 2em;
}

#section-link {
	margin-right: 5%;
	font-size: 1.5em;
}

#emoji {
	margin-top: 10%;
}



@media (min-width: 550px) {

	#landing-main {
		position: relative;
	}

	#intro {
		text-align: left;
	}

	#photo {
		max-width: 50%;
		position: absolute;
		left: 87.5%;
		top: 50%;
		transform: translate(-50%, -50%);
	}


}


.container {
	width: 100% !important;
}

.site-title {
	font-family: Cabin;
	font-weight: bold !important;
}

.page-heading {
	font-size: 42px !important;
}

.post-title {
	line-height: 1.5em !important;
	font-weight: bold;
}

.post-link {
	font-family: Helvetica;
}

.post-content p {
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 1.8em;
}

.post-content h2 {
	font-weight: bold;
}
