html {
    background-color: #FAFAFA;
}

body {
    background-color: #FAFAFA !important;
}


.index-page-content {
	padding: 5% !important;
}

.page-content {
	padding: 8px;
}

.site-header {
	border: 0 !important;

}

.site-title {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	padding-top: 25px;
	color: black !important;
}

.site-nav a {
	font-size: 13px;
}

.page-heading {
	margin-bottom: 1em;
	padding-bottom: .5em;
}

.page-link {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
}

.post-list h2 {
	letter-spacing: 0 !important;
}

.post-list a {
	color: #121111;
}

.post-list a:visited {
	color: #121111;
}

.post-meta {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
    color: #616161 !important;
}

.post-link {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	display: inline !important;
    font-size: 28px !important;
}

.permalink {
	font-size: .5em;
	margin-left: 1em;
	vertical-align: baseline;
	text-decoration: none !important;
}

.post-title, .post-title a {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	font-size: 24px !important;
	font-weight: normal !important;
	color: #121111 !important;
}

.post-title a:visited {
	color: #424242 !important;
}

.post-content p {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	color: #212121 !important;
    font-size: 17px;
}

.post-content a {
    color: #0288D1;
}

.post-content a:hover {
    color: #0288D1;
}


.post-content a:visited {
    color: #01579B;

}

blockquote {

    border-left: none !important;

}

blockquote p, blockquote li {
	color: #757575 !important;
	letter-spacing: 0 !important;
	font-size: 17px !important;
}

p {
	font-family: 'Georgia', 'Droid Serif', serif !important;
	text-align: left;
}

li {
	font-family: 'Georgia', 'Droid Serif', serif !important;
}

a {
	font-family: 'Georgia', 'Droid Serif', serif !important;
	color: #03A9F4;
}
span {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
}


h1 {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	font-weight: bold;
	/*line-height: .8em !important;*/
}

@media (max-width: 650px) {

	h1 {
		line-height: 1.2em !important;
	}

}

h2 {
	font-size: 3.0rem;
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	line-height: .8em !important;
}

#title {
	text-align: left;
	font-weight: bold;
	font-size: 4.5rem;
	color: #121111;
}

#subtitle {
	font-family: 'Georgia', 'Droid Serif', serif !important;
	font-size: 3.5rem;
	text-align: left;
	color: #615b5b;
}

#section-display {
	font-size: 1.2rem;
}

#section-display a {
	color: #121111;
}

#intro {
	margin-top: 10%;
	margin-bottom: 10%;
}

#description {
	font-size: 1.5em;
}

#screenshot {
	margin-right: 12px;
}

#divider {
	border: 0px !important;
}

#sections {
	margin-bottom: 3.5rem !important;
}


#sections h4 {
	font-weight: bold;
}

#intro {
	width: 100%;
	text-align: center;
}

#landing-main {
	display: block;
	line-height: 2em;
}

#section-link {
	margin-right: 5%;
	font-size: 1.5em;
}

#emoji {
	margin-top: 10%;
}



@media (min-width: 550px) {

	#landing-main {
		position: relative;
	}

	#intro {
		text-align: left;
	}

	#photo {
		max-width: 50%;
		position: absolute;
		left: 87.5%;
		top: 50%;
		transform: translate(-50%, -50%);
	}


}


.container {
	width: 100% !important;
}

.site-title {
	font-family: 'Helvetica', 'Roboto', sans-serif !important;
	font-weight: bold !important;
}

.page-heading {
	font-size: 42px !important;
	font-weight: bold;
}

.post-title {
	/*line-height: 1.5em !important;*/
	font-weight: bold;
}


.post-content p {
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 1.8em;
}

.post-content h2 {
	font-weight: bold;
}
