---
title: UGR
permalink: "/ugr/"
layout: default
---

<h1 class="page-heading">Representación Estudiantil</h1>

{% for post in site.posts_ugr %}

<div class="post">
  <span class="post-meta">{% include meta-date.html %}</span>

  <h2 class="post-title">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>

  <br>
  <div class="post-content">
    {% if post.excerpt %}
    {{ post.excerpt }}
    <a href="{{ post.url | prepend: site.baseurl }}">Seguir leyendo</a>
    {% endif %}
  </div>

</div>
{% endfor %}
