---
title: Blog
permalink: "/blog/"
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog.</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% if post.external-url %}
            <a class="post-link" href="{{ post.external-url }}">
              {{ post.title }}
            </a>
            <a class="external-link-post" href="{{ post.url | prepend: site.baseurl }}">·</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          {% endif %}
        </h2>

        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
